@model Symphony_Limited.Models.Topic;
@{
   Layout = "~/Views/shared/_LayoutDashboard.cshtml";
}
<form asp-action="ShowCourse" method="post">
    <div class="form-group">
        <label asp-for="TopicName"></label>
        <input asp-for="TopicName" class="form-control" />
    </div>
    <div class="form-group">
		<label asp-for="CourseId"></label>
		<select asp-for="CourseId" class="form-control">
            <option>@ViewBag.CourseId</option>
            <option>2</option>
            <option>3</option>
        </select>
       
    </div>
    <button type="submit" class="btn btn-primary">Add Topic</button>
</form>
