@model SubjectDto
@{
	Layout = "~/Views/shared/_LayoutDashboard.cshtml";
}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Edit Course</h4>
                        <p class="card-description">
                            
                        </p>
                        <form class="forms-sample" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="exampleInputName1">Subject Id</label>
                                <input class="form-control-plaintext" readonly value="@ViewData["Subject_Id"]" id="exampleInputName1">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputName1">Name</label>
                                <input type="text" class="form-control" asp-for="SubjectName" id="exampleInputName1" placeholder="Enter Course Name">
                            </div>
                            <div class="form-group">
                                <label for="exampleTextarea1">Course Description</label>
                                <textarea class="form-control" asp-for="SubjectDescription" id="exampleTextarea1" rows="4"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword4">Duration</label>
                                <input type="text" class="form-control" asp-for="Duration" id="exampleInputPassword4" placeholder="Duration">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword4">Fees</label>
                                <input type="text" class="form-control" asp-for="Fees" id="exampleInputPassword4" placeholder="Fees">
                            </div>

                            <div class="form-group">
                                <div class="offset-sm-4 col-sm-8">
                                    <img src="/images/@ViewData["SubjectImgName"]" width="100" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Image upload</label>
                                <div class="input-group col-xs-12">
                                    <input type="file" asp-for="ImageFile" class="form-control file-upload-info btn btn-primary" placeholder="Upload Image">
                                </div>
                            </div>


                            <div class="form-group">
                                <label for="exampleInputCity1">Created At</label>
                                <input type="date" class="form-control-plaintext" readonly value="@ViewData["Created_at"]" id="exampleInputCity1">
                            </div>
                            <button type="submit" class="btn btn-primary mr-2">Update</button>
                            <button class="btn btn-light">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*
<h2>Edit Course</h2>

<a asp-controller="Course" asp-action="ShowCourse">See all products</a>


<form method="post">
	<input class="mb-5" type="hidden" asp-for="Course_Id" />

	<div class="mb-3">
		<input class="form-control" asp-for="CourseName" placeholder="Enter product name" />
	</div>

	<div class="mb-3">
		<input class="form-control" asp-for="CourseDescription" placeholder="Enter Description" />
	</div>
	<div class="mb-3">
		<input class="form-control" asp-for="Duration" placeholder="Enter Duration" />
	</div>

	<div class="mb-3">
		<input class="form-control" asp-for="Fees" placeholder="Enter Fees" />
	</div>
	<div class="mb-3">
		<input type="file" class="form-control" asp-for="CourseImg" />
	</div>
	<div class="mb-3">
		<input class="btn btn-primary" type="submit" value="update" />
	</div>
</form>*@