@model IEnumerable<About>
<div class="untree_co-hero overlay" style="background-image: url('images/img-school-1-min.jpg');">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-12">
                <div class="row justify-content-center ">
                    <div class="col-lg-6 text-center ">
                        <h1 class="mb-4 heading text-white" data-aos="fade-up" data-aos-delay="100">About Us</h1>
                        <div class="mb-5 text-white desc mx-auto" data-aos="fade-up" data-aos-delay="200">
                            <p>Join us at Symphony Ltd. and take the first step towards building a successful career in the IT industry. We are here to guide you every step of the way!</p>
                        </div>

                        <p class="mb-0" data-aos="fade-up" data-aos-delay="300"><a asp-controller="Admin" asp-action="Register" class="btn btn-secondary">Explore courses</a></p>

                    </div>


                </div>

            </div>

        </div> <!-- /.row -->
    </div> <!-- /.container -->

</div> <!-- /.untree_co-hero -->



@*
<div class="services-section">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-4 mb-5 mb-lg-0">

                <div class="section-title mb-3" data-aos="fade-up" data-aos-delay="0">
                    <h2 class="line-bottom mb-4">Become an Instructor</h2>
                </div>

                <p data-aos="fade-up" data-aos-delay="100">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live.</p>

                <ul class="ul-check list-unstyled mb-5 primary" data-aos="fade-up" data-aos-delay="200">
                    <li>Behind the word Mountains.</li>
                    <li>Far far away Mountains.</li>
                    <li>Large language Ocean.</li>
                </ul>

                <p data-aos="fade-up" data-aos-delay="300"><a href="#" class="btn btn-primary">Get Started</a></p>

            </div>
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="0">
                <figure class="img-wrap-2">
                    <img src="~/images/teacher-min.jpg" alt="Image" class="img-fluid">
                    <div class="dotted"></div>
                </figure>

            </div>
        </div>
    </div>
</div>
*@
<div class="untree_co-section">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5 mb-5">
                <h2 class="line-bottom mb-4" data-aos="fade-up" data-aos-delay="0">About Us</h2>
                @foreach(var about in Model)
                {
                    <p data-aos="fade-up" data-aos-delay="100">@about.Content</p>
                }
                <ul class="list-unstyled ul-check mb-5 primary" data-aos="fade-up" data-aos-delay="200">
                    <li>Separated they live</li>
                    <li>Bookmarksgrove right at the coast</li>
                    <li>large language ocean</li>
                </ul>

                <div class="row count-numbers mb-5">
                    <div class="col-4 col-lg-4" data-aos="fade-up" data-aos-delay="0">
                        <span class="counter d-block"><span data-number="12023">0</span><span>+</span></span>
                        <span class="caption-2">No. Students</span>
                    </div>
                    <div class="col-4 col-lg-4" data-aos="fade-up" data-aos-delay="100">
                        <span class="counter d-block"><span data-number="49">0</span><span></span></span>
                        <span class="caption-2">No. Teachers</span>
                    </div>
                    <div class="col-4 col-lg-4" data-aos="fade-up" data-aos-delay="100">
                        <span class="counter d-block"><span data-number="12">0</span><span></span></span>
                        <span class="caption-2">No. Awards</span>
                    </div>
                </div>

                <p data-aos="fade-up" data-aos-delay="200">
                    <a asp-controller="Admin" asp-action="Register" class="btn btn-primary mr-1">Admission</a>
                </p>
            </div>
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
                <div class="bg-1"></div>

                <img src="~/images/aboutus.jpeg" alt="Image" class="img-fluid rounded">

            </div>
        </div>
    </div>
</div> <!-- /.untree_co-section -->

<div class="container">
    <div class="row justify-content-between">
        <div class="col mb-5">
            <h2 class="line-bottom mb-4" data-aos="fade-up" data-aos-delay="0">CAREER OPPORTUNITIES</h2>
                <p data-aos="fade-up" data-aos-delay="100">
                    For nearly 2 decades, SYMPHONY LIMITED has been dedicated to redefining higher IT education and empowering our students with the skills they need to excel in the classrooms and throughout their professional sphere keeping a career-oriented approach. Seeking to equip our students with essential management competencies, coupled with an appreciation of professional accountability and social responsibility, the institute has developed programs that prepare professionals for meaningful careers.</p>

        </div>
    </div>
    <div class="row justify-content-between">
        <div class="col mb-5">
            <h2 class="line-bottom mb-4" data-aos="fade-up" data-aos-delay="0">KNOW YOUR STRENGTHS</h2>
            <p data-aos="fade-up" data-aos-delay="100">What are you good at? What do you enjoy doing? Understanding who you are and what you excel in is the first step towards discovering what you want to do in your future. We help you asses your personality type, interest and values related to career opportunities.</p>
        </div>
    </div>

    <div class="row justify-content-between">
        <div class="col mb-5">
            <h2 class="line-bottom mb-4" data-aos="fade-up" data-aos-delay="0">FACULTY</h2>
            <p data-aos="fade-up" data-aos-delay="100">
                “Innovation in Teaching” is highly considered at Symphony Limited. We share industry-relevant experiences both within and beyond the classes by our experienced Faculty Members & expert IT Professionals who are internationally certified. Furthermore, we strive to attract faculty of outstanding talent and ability to provide the students a supportive and enabling environment. They transform Beginners into Professionals, who can easily be distinguished by their professional competence, humanistic outlook, and ethical rectitude. By polishing their skills and abilities, we enable them to explore the exciting world of application development in Desktop, Web, Enterprise & Mobile devices.
            </p>
        </div>
        </<div>
        </div>
    </div>
</div>


@*
<div class="untree_co-section">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-lg-7 text-center" data-aos="fade-up" data-aos-delay="0">
                <h2 class="line-bottom text-center mb-4">We Have Best Education</h2>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-sm-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
                <div class="feature">
                    <span class="uil uil-music"></span>
                    <h3>Music Class</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
                <div class="feature">
                    <span class="uil uil-calculator-alt"></span>
                    <h3>Math Class</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="300">
                <div class="feature">
                    <span class="uil uil-book-open"></span>
                    <h3>English Class</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
            </div>


            <div class="col-6 col-sm-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay=100">
                <div class="feature">
                    <span class="uil uil-book-alt"></span>
                    <h3>Reading for Kids</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
                <div class="feature">
                    <span class="uil uil-history"></span>
                    <h3>History Class</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="300">
                <div class="feature">
                    <span class="uil uil-headphones"></span>
                    <h3>Music</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
            </div>
        </div>
    </div> <!-- /.container -->
</div> <!-- /.untree_co-section -->*@



@*
<div class="untree_co-section">


    <div class="container">
        <div class="row">
            <div class="col-lg-5 mr-auto mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="0">
                <img src="~/images/img-school-5-min.jpg" alt="image" class="img-fluid">
            </div>
            <div class="col-lg-7 ml-auto" data-aos="fade-up" data-aos-delay="100">
                <h3 class="line-bottom mb-4">Why Choose Us</h3>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>

                <div class="custom-accordion" id="accordion_1">
                    <div class="accordion-item">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Good Teachers and Staffs</button>
                        </h2>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion_1">
                            <div class="accordion-body">
                                <div class="d-flex">
                                    <div class="accordion-img mr-4">
                                        <img src="~/images/img-school-1-min.jpg" alt="Image" class="img-fluid">
                                    </div>
                                    <div>
                                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                                        <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- .accordion-item -->

                    <div class="accordion-item">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">We Value Good Characters</button>
                        </h2>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion_1">
                            <div class="accordion-body">
                                <div class="d-flex">
                                    <div class="accordion-img mr-4">
                                        <img src="~/images/img-school-2-min.jpg" alt="Image" class="img-fluid">
                                    </div>
                                    <div>
                                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                                        <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- .accordion-item -->
                    <div class="accordion-item">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Your Children are Safe</button>
                        </h2>

                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion_1">
                            <div class="accordion-body">
                                <div class="d-flex">
                                    <div class="accordion-img mr-4">
                                        <img src="~/images/img-school-3-min.jpg" alt="Image" class="img-fluid">
                                    </div>
                                    <div>
                                        <p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane.</p>
                                        <p>Pityful a rethoric question ran over her cheek, then she continued her way.</p>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div> <!-- .accordion-item -->

                </div>

            </div>
        </div>
    </div>
</div> <!-- /.untree_co-section -->*@