
<div class="untree_co-hero overlay" style="background-image: url('images/hero-img-1-min.jpg');">


    <div class="container">
        <div class="row align-items-center justify-content-center">

            <div class="col-12">

                <div class="row justify-content-center ">

                    <div class="col-lg-6 text-center ">
                        

                        <h1 class="mb-4 heading text-white" data-aos="fade-up" data-aos-delay="100">Education is the Mother of Leadership</h1>
                        <p class="mb-0" data-aos="fade-up" data-aos-delay="300"><a asp-controller="Admin" asp-action="Register" class="btn btn-secondary">Explore courses</a></p>

                    </div>


                </div>

            </div>

        </div> <!-- /.row -->
    </div> <!-- /.container -->

</div> <!-- /.untree_co-hero -->



<div class="services-section">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-4 mb-5 mb-lg-0">

                <div class="section-title mb-3" data-aos="fade-up" data-aos-delay="0">
                    <h2 class="line-bottom mb-4">BEST IT INSTITUTE</h2>
                </div>

                <p data-aos="fade-up" data-aos-delay="100">We are the best it institute in karachi.</p>

                <ul class="ul-check list-unstyled mb-5 primary" data-aos="fade-up" data-aos-delay="200">
                    <li>INDUSTRY-DRIVEN IT TRAINING PROGRAMS.</li>
                    <li>JOBS & INTERNSHIPS: REAL SUCCESS, REAL OPPORTUNITIES.</li>
                    <li>500+ POSITIVE REVIEWS & 25K+ FOLLOWERS.</li>
                </ul>

                <p data-aos="fade-up" data-aos-delay="300"><a href="#" class="btn btn-primary">Get Started</a></p>

            </div>
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="0">
                <figure class="img-wrap-2">
                    <img src="images/Ai best it intitute.jpeg" alt="Image" class="img-fluid mb-5">
                    <div class="dotted"></div>
                </figure>

            </div>
        </div>
    </div>
</div>



<div class="untree_co-section">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-lg-7 text-center" data-aos="fade-up" data-aos-delay="0">
                <h2 class="line-bottom text-center mb-4">How It Works?</h2>

            </div>
        </div>
        <div class="row">
            <div class="col-6 col-sm-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
                <div class="feature">
                    <span class="uil uil-search"></span>
                    <h3>Search Courses</h3>
                    <p>Search the most advanced courses of ur choice & start taking your 1st demo class.</p>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
                <div class="feature">
                    <span class="uil uil-books"></span>
                    <h3>View Course Details</h3>
                    <p>Check out each any every details of the course and meet trainer as well.</p>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="300">
                <div class="feature">
                    <span class="uil uil-envelope"></span>
                    <h3>Apply, Enroll or Register</h3>
                    <p>Apply for demo class and clear your all doubts then join the Symphony Limited</p>
                </div>
            </div>
        </div> <!-- /.container -->
    </div> <!-- /.untree_co-section -->


    <div class="untree_co-section bg-light">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-lg-7 text-center" data-aos="fade-up" data-aos-delay="0">
                    <h2 class="line-bottom text-center mb-4">The Right Course For You</h2>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0">
                    <div class="custom-media">
                        <a href="#"><img src="images/img-school-1-min.jpg" alt="Image" class="img-fluid"></a>
                        <div class="custom-media-body">
                            <div class="d-flex justify-content-between pb-3">
                                <div class="text-primary"><span class="uil uil-book-open"></span> <span>43 lesson</span></div>
                                <div class="review"><span class="icon-star"></span> <span>4.8</span></div>
                            </div>
                            <h3>Education Program Title</h3>
                            <p class="mb-4">Lorem ipsum dolor sit amet once is consectetur adipisicing elit optio.</p>
                            <div class="border-top d-flex justify-content-between pt-3 mt-3 align-items-center">
                                <div><span class="price">$87.00</span></div>
                                <div><a href="#">Learn More</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0">
                    <div class="custom-media">
                        <a href="#"><img src="images/img-school-2-min.jpg" alt="Image" class="img-fluid"></a>
                        <div class="custom-media-body">
                            <div class="d-flex justify-content-between pb-3">
                                <div class="text-primary"><span class="uil uil-book-open"></span> <span>43 lesson</span></div>
                                <div class="review"><span class="icon-star"></span> <span>4.8</span></div>
                            </div>
                            <h3>Education Program Title</h3>
                            <p class="mb-4">Lorem ipsum dolor sit amet once is consectetur adipisicing elit optio.</p>
                            <div class="border-top d-flex justify-content-between pt-3 mt-3 align-items-center">
                                <div><span class="price">$93.00</span></div>
                                <div><a href="#">Learn More</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0">
                    <div class="custom-media">
                        <a href="#"><img src="images/img-school-3-min.jpg" alt="Image" class="img-fluid"></a>
                        <div class="custom-media-body">
                            <div class="d-flex justify-content-between pb-3">
                                <div class="text-primary"><span class="uil uil-book-open"></span> <span>43 lesson</span></div>
                                <div class="review"><span class="icon-star"></span> <span>4.8</span></div>
                            </div>
                            <h3>Education Program Title</h3>
                            <p class="mb-4">Lorem ipsum dolor sit amet once is consectetur adipisicing elit optio.</p>
                            <div class="border-top d-flex justify-content-between pt-3 mt-3 align-items-center">
                                <div><span class="price">$65.00</span></div>
                                <div><a href="#">Learn More</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="untree_co-section pt-0 bg-img overlay" style="background-image: url('images/img-school-1-min.jpg');">
        <div class="container">
            <div class="row align-items-center justify-content-center text-center">
                <div class="col-lg-7">
                    <h2 class="text-white mb-3" data-aos="fade-up" data-aos-delay="0">Education for Tomorrow's Leaders</h2>
                    <p class="text-white h5 mb-4" data-aos="fade-up" data-aos-delay="100">At Symphony Ltd., we believe in providing not just theoretical knowledge but also practical, hands-on experience. Our courses are designed to cater to both beginners and professionals looking to enhance their skills in the ever-evolving tech industry.</p>
                    <p><a asp-controller="Admin" asp-action="Register" class="btn btn-secondary" data-aos="fade-up" data-aos-delay="200">Enroll Now</a></p>
                </div>
            </div>
        </div>
    </div> <!-- /.untree_co-section -->


    <div class="untree_co-section bg-light">
        <div class="container">

            <div class="row align-items-stretch">
                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="media-h d-flex h-100">
                        <figure>
                            <img src="images/vision.jpg" alt="Image" class="img-fluid">
                        </figure>
                        <div class="media-h-body">
                            <h1 class="mb-3"><a href="#">Our Vision</a></h1>
                            <p>Our vision is to build a world where every young individual has the skills and knowledge to thrive in the digital age. We aim to be a catalyst for global innovation and socio-economic development.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
                    <div class="media-h d-flex h-100">
                        <figure>
                            <img src="images/mission.jpg" alt="Image" class="img-fluid">
                        </figure>
                        <div class="media-h-body">
                            <h1 class="mb-3"><a href="#">Our Mission</a></h1>

                            <p>Our mission is to empower youth through accessible, high-quality digital training and courses. We strive to foster lifelong learning, inspire innovation, and create opportunities for personal and professional growth.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- /.untree_co-section -->



    <div class="untree_co-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 mr-auto mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="0">
                    <img src="~/images/why chose us.jpeg" alt="image" class="img-fluid rounded">
                </div>
                <div class="col-lg-7 ml-auto" data-aos="fade-up" data-aos-delay="100">
                    <h3 class="line-bottom mb-4">Why Choose Us</h3>


                    <div class="custom-accordion">
                        <div class="accordion-item">
                            <ul class="ul-check list-unstyled mb-5 primary" data-aos="fade-up" data-aos-delay="200">
                                <li>Money Making Skills.</li>
                                <li>Hands on Experience during Training.</li>
                                <li>Internship & Job Opportunities.</li>
                                <li>On-campus & Online Classes with Recorded Lectures</li>
                                <li>Highly Experienced Instructors</li>
                                <li>Professional Learning Environment</li>
                                <li>Learning Management System</li>
                            </ul>
                        </div>
                    </div> <!-- .accordion-item -->


                </div>

            </div>
        </div>
    </div>
</div> <!-- /.untree_co-section -->