@model Examination
@{
	Layout = "~/Views/shared/_LayoutDashboard.cshtml";
}

<div class="main-panel">
<div class="content-wrapper">
    <div class="row">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Update Exam</h4>
                    
                    <form class="forms-sample" method="post">
                            <input type="hidden" class="form-control" asp-for="ExamId">
                        <div class="form-group">
                            <label for="exampleInputName1">Exam Name</label>
                            <input type="text" class="form-control" asp-for="ExamName" id="exampleInputName1" placeholder="Enter Exam Name">
                        </div>
                        <div class="form-group">
                            <label for="exampleTextarea1">Exam Date</label>
                            <input type="date" class="form-control" asp-for="ExamDate" id="exampleTextarea1">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword4">Fees</label>
                            <input type="text" class="form-control" asp-for="Fees" id="exampleInputPassword4" placeholder="Fees">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputCity1">Created At</label>
                            <input type="date" class="form-control" asp-for="Created_at" id="exampleInputCity1" placeholder="Created At">
                        </div>
                        <input type="submit" class="btn btn-primary mr-2" value="Update Exam" />
                        <button class="btn btn-light">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>